.details-header {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.details-main {
  padding: 2rem;
}
.bold {
  font-weight: bold;
}
.map-frame {
  height: 13rem;
  width: 29rem;
  border: 0px;
}
.value {
  font-size:larger ;
  padding-left: 1rem !important;
}
.head {
  font-weight: bold;
  font-size: larger;
  padding-left: 1rem;
}
label#Company-text-feild-label {
  padding-left: 1rem;
}